/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {font-weight: 200;color: black;
	
	.button{background: #00A0B0;padding: 10px;display: block;text-align: center;color: white;font-size: 16px;border: none !important;font-family: 'Open Sans',sans-serif;letter-spacing: 1px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;-webkit-transition: background 300ms linear;-moz-transition: background 300ms linear;-ms-transition: background 300ms linear;-o-transition: background 300ms linear;transition: background 300ms linear;}
	
	.button:hover{color:white;text-decoration: none;background: #6ecacc;-webkit-transition: background 300ms linear;-moz-transition: background 300ms linear;-ms-transition: background 300ms linear;-o-transition: background 300ms linear;transition: background 300ms linear;}
	
	.shadow-top-to-bottom{ background-image: url(../img/shadow-top-to-bottom.png);width:932px;height:22px;position:absolute;top:0px;left: 50%;margin-left: -466px; }
	
.shadow-bottom-to-top{ background-image: url(../img/shadow-bottom-to-top.png);width:932px;height:22px;position:absolute;bottom:0px;left: 50%;margin-left: -466px;}

a{color: black;}

a:hover, a:active{color: #00a0b0;}

ins{text-decoration: none;}
	
}


/* ==========================================================================
   Header
   ========================================================================== */
   
   
.top-bar{padding: 15px 0;border-bottom: 1px solid #e7e7e7;

	a{color: black;}

	.login-box{float: left;}
	
	.cart-box{float: left;clear: both;}
}

.banner {

	.navbar-header{padding: 15px 0;
		
		h1{float: left;margin: 0;}
		
	}
	
	.navbar-brand{text-indent: -99999px;background:url(../img/small-logo.png) no-repeat;display: block;width: 170px;height:36px;margin: 5px 0 0 10px; }
	
	.navbar-toggle{outline: none;}
	
	.navbar-toggle:hover, .navbar-toggle:focus{background: none;
		
		.icon-bar{background: black;}
		
	}
	
	.navbar-collapse{
	
		.navbar-nav{
			
			.active{
				
				a{background: none !important;color: #00a0b0;}
				
			}
			
			li{
				
				a{color: black;}
				
				a:hover{color: #00a0b0;}
				
			}
			
		}
	
	}
	
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */
   
.home{
	
	.main{padding: 0 0 20px 0;}
}

.main {padding: 20px 0;clear: both;
	
	.cycle-slideshow{ width: 100%;overflow: hidden;
		
		img{height: auto;width: 100%;}
		
	}
	
	.intro{position: relative;border-top: 1px solid #00a0b0;
		
		.show_hide{width:200px;position: absolute;top: -20px;left: 50%;margin-left: -110px;z-index: 9999;display: none;}
		
		.slidingDiv{border-bottom: 1px solid #00a0b0;background: #f9f9f9;padding: 20px 0;}
		
		.claim{text-align: center;clear: both;margin: 30px 0 0 0; }
		
		.request{width: 80%;position: relative;margin: 0 auto;
		
			.form-wrapper{padding: 5px 10px;border: 1px solid #f1f1f1;border-radius: 3px;float: left;width: 100%;
			    
			    .gform_wrapper ul li.gfield{margin: 0 5px;width: 25%;
			    	
			    	input{background: white;height: 50px;padding: 10px;}
			    	
			    	.ginput_container{
				    	
				    	select{height: 50px;}
				    	
			    	}
			    	
			    }
			    
			    .gform_body{height: 60px;padding: 4px;width: 75%;float: left;
			    	
			    	ul{position: relative;z-index: 999;
			    	
			    		#field_3_2{margin: 0 0 0 5px;}
			    		
			    		li{ float: left;
			    		
			    			label{display: none;}
			    			
			    		}
			    		
			    	}
			    	
			    }
			    
			    .gform_footer{width: 25%;float: left;
			    	
			    	input.button[type="submit"]{width: auto;border-radius: 0;height: 50px; }
			    	
			    }
			}
			
		}
				
	}
	
	.featured-products-wrapper{padding: 20px 0;
		
		.featured-product:last-child{border-bottom-style: none;}
		
		.featured-product{float: left;width: 100%;margin: 20px 0;border-bottom: 1px solid #e7e7e7;
			
			.image-col{float: left;width: 100%;
				
				img{width: 100%;height: auto;}
				
				
			}
			
			.description-col{
				
				h2{
					
					a{color: black;font-weight: 100;}
					
					a:hover{text-decoration: none;color: #00A0B0;}
					
				}
				
				a.button{margin: 20px auto;width: 200px;}
				
			}
						
		}
				
	}
	
}

/*==== Woocommerce Style ====*/

.woocommerce, .woocommerce-page{

	.woocommerce-message{border-top:3px solid #00a0b0;
		
		&:before{background:#00a0b0; }
	}

	button.button.alt{background: #00A0B0;padding: 10px;display: block;text-align: center;color: white;font-size: 16px;border: none !important;font-family: 'Open Sans',sans-serif;letter-spacing: 1px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;-webkit-transition: background 300ms linear;-moz-transition: background 300ms linear;-ms-transition: background 300ms linear;-o-transition: background 300ms linear;transition: background 300ms linear;outline: none;width: 30%;float: right !important;
		
	}
	
	button.button.alt:hover{color:white;text-decoration: none;background: #6ecacc;-webkit-transition: background 300ms linear;-moz-transition: background 300ms linear;-ms-transition: background 300ms linear;-o-transition: background 300ms linear;transition: background 300ms linear;
		
	}

	div.product, #content{clear: both;
		
		div.images{
			
			img{box-shadow: none !important;width: auto !important;}
			
			a{
			
				.thumbnails{width: 90px !important;}
				
			}
			
		}
		
		.related.products{clear: both;}
		
	}
	
	.woocommerce-breadcrumb{clear: both;}

	.woocommerce-ordering, .woocommerce-result-count{display: none;}
	
	ul.products{
		
		li.product{border-bottom: 1px solid transparent;-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-ms-transition: all 300ms linear;-o-transition: all 300ms linear;transition: all 300ms linear;
		
		
			&:hover{border-bottom:1px solid #e7e7e7;-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-ms-transition: all 300ms linear;-o-transition: all 300ms linear;transition: all 300ms linear;}
			
			a{
				
				img{box-shadow: none;}
				
				&:hover{
					
					img{box-shadow: none;}
					
				}
				
			}
			
			.price{color: black;
				
				del{font-size: 14px;}
				
			}
			
		}
				
	} 
	
}

/*==== Single Product WooCommerce ====*/

.woocommerce.single-product{
	
	h2.entry-title{font-size: 22px;}
	
}

div.pp_overlay{background: #f9f9f9 !important;}

div.ppt{color: black !important;font-weight: 200;}

div.pp_woocommerce {

	.pp_content_container{box-shadow: none !important;}
	
	.pp_close{top:-60px; right: -60px;background:url(../img/close-button.png) !important; height: 48px;width: 48px;text-shadow: none;font-size: 0 !important;background-color:none;}

}

/*==== Gravity Form Style ====*/

.gform_wrapper{

	ul{
		
		li{
			
			input, textarea{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;border: 1px solid #ccc;padding: 10px;background: #f9f9f9;color: #3b454e;outline: none;padding: 10px !important;font-size: 16px !important;}
			
			
			#input_1_1_3_container, #input_1_1_6_container{
				
				label{font-weight: normal !important;}
				
			}
			
		}		
		
	}
	
	.gform_footer{
		
		input.button[type="submit"]{width: 200px;}
		
	}
	
}

.gform_wrapper ul {
  .list-unstyled();
}
.gform_wrapper li {
  .form-group();
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: @state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
  .form-control();
}
.ginput_container textarea {
  height: auto;
}
.gform_button {
  .btn();
  .btn-primary();
}
.gform_wrapper .gfield_error {
  .gfield_label {
    color: @state-danger-text;
  }
  input,
  select,
  textarea {
    border-color: @alert-danger-border;
    background-color: @alert-danger-bg;
    color: @alert-danger-text;
    .form-control-focus(@alert-danger-text);
  }
}
.validation_error {
  .alert();
  .alert-danger();
}
#gforms_confirmation_message {
  .alert();
  .alert-success();
}



/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {padding: 20px 0;border-bottom: 1px solid #e7e7e7;float: left;width: 100%;clear: both;
	
	section.widget_product_categories{float: left;margin: 20px 0 0 0;clear: both;}
	
	form.search-form{float: left;margin: 0 20px 0 0;display: none !important;}
	
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {position:relative;float:left;width:100%;border-top: 1px solid #00a0b0;border-bottom:1px solid #00a0b0;padding: 20px 0;overflow: hidden;background: #f9f9f9;
	
	div{font-size: 16px;
	
		//h3{font-size: 28px;border-bottom: 1px solid #e7e7e7;padding-bottom: 15px;}
		
		ul{list-style: none;padding: 0;
			
			li{
				
				a{text-decoration: none;color: #333333;font-size: 16px;
					
					&:hover{color: #00a0b0;}
					
				}
								
			}
			
		}
		
	}
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {

	.top-bar{
	
		.cart-box{float: right;clear: none;}
	
	}
	
	.banner{padding: 20px 0;
		
		.navbar-brand{text-indent: -99999px;background:url(../img/small-logo.png) no-repeat;display: block;width: 170px;height:36px;margin: 5px 0 0 10px; }

	}/* .banner */
	
	.main{
		
		.featured-products-wrapper{
		
			.featured-product{float: left;width: 100%;
			
				.image-col{float: left;width: 50%;}
				
				.description-col{float: left;width: 45%;margin: 0 0 0 5%;
					
					p{font-size: 16px;}
					
					a.button{margin: 20px 0;}
					
					
				}
			
			}
			
			.featured-product.even{
			    
			    .image-col{float: right !important;margin: 0 0 0 5%;}
			    
			    .description-col{margin: 0;float: left;}
			    
			}
		
		}
		
	}/* .main */
	
	.woocommerce, .woocommerce-page{
	
		.woocommerce-breadcrumb{padding: 10px 0;float: left;width: 100%;display: block;}
		
		.woocommerce-result-count, .woocommerce-ordering{display: block;}
		
	}
	
	.sidebar {padding: 20px 0;border-bottom: 1px solid #e7e7e7;float: left;width: 100%;clear: both;
	
		section.widget_product_categories{float: right;margin: 0;clear: none;}
		
	}
	
}

@media (min-width: @screen-md-min) {

	.top-bar{
	
		.cart-box{float: right;clear: none;}
	
	}
	
	.banner {padding: 30px 0;
	
	.navbar-brand{text-indent: -99999px;background:url(../img/logo.png) no-repeat;display: block;width: 257px;height:54px;margin: 0 0 0 10px; }
	
	}/* .banner */
	
	
	.main{
		
		.featured-products-wrapper{
		
			.featured-product{float: left;width: 100%;
			
				.image-col{float: left;width: 50%;}
				
				.description-col{float: left;width: 45%;margin: 0 0 0 5%;
					
					p{font-size: 16px;}
					
					a.button{margin: 20px 0;}
					
				}
			
			}
			
			.featured-product.even{
			    
			    .image-col{float: right !important;margin: 0 0 0 5%; }
			    
			    .description-col{margin: 0;float: left;}
			    
			}
		
		}
		
	}/* .main */
	
	
	.woocommerce, .woocommerce-page{
	
		.woocommerce-breadcrumb{padding: 10px 0;float: left;width: 100%;display: block;}
		
		.woocommerce-result-count, .woocommerce-ordering{display: block;}
		
	}
	
	.sidebar {padding: 20px 0;border-bottom: 1px solid #e7e7e7;float: left;width: 100%;clear: both;
	
		section.widget_product_categories{float: right;margin: 0;clear: none;}
		
	}
	
}

@media (min-width: @screen-lg-min) {

	.top-bar{
	
		.cart-box{float: right;clear: none;}
	
	}
	
	.banner {padding: 40px 0;
	
	.navbar-brand{text-indent: -99999px;background:url(../img/logo.png) no-repeat;display: block;width: 257px;height:54px;margin: 0 0 0 10px; }
	
	}/* .banner */
	
	
	.main{
		
		.featured-products-wrapper{
		
			.featured-product{float: left;width: 100%;
			
				.image-col{float: left;width: 50%;}
				
				.description-col{float: left;width: 45%;margin: 0 0 0 5%;
					
					p{font-size: 16px;}
					
					a.button{margin: 20px 0;}
					
				}
			
			}
			
			.featured-product.even{
			    
			    .image-col{float: right !important;margin: 0 0 0 5%; }
			    
			    .description-col{margin: 0;float: left;}
			    
			}
		
		}
		
	}/* .main */
	
	.woocommerce, .woocommerce-page{
	
		.woocommerce-breadcrumb{padding: 10px 0;float: left;width: 100%;display: block;}
		
		.woocommerce-result-count, .woocommerce-ordering{display: block;}
		
	}
	
	.sidebar {padding: 20px 0;border-bottom: 1px solid #e7e7e7;float: left;width: 100%;clear: both;
	
		section.widget_product_categories{float: right;margin: 0;clear: none;}
		
	}
	
}

